<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="container-md">

        <div class="row">
            <h1 class="text-center display-2">Math</h1>
            <p>The mathematics part of the library contains various functionality including but not limited to linear algebra, constants, geometry and more! It aims to provide generic class representations of mathematical objects such as shapes and custom containers like vectors and matrices not seen in the standard library.</p>
            <h2  class="text-center display-4">Features</h2>
            <p><strong>Matrices</strong>
            - Can create NxM matrices of type T.
            - Supports row and column major ordering for matrices. 
            - Can be managed using fixed or dynamic memory management, and work together. 
            - Matrix Arithmetic operations can be performed between varying types of matrices. (e.g. dynamic 4x3 integer matrix multiplied by a fixed 3x4 real matrix)#</p>
            <p><strong>Vectors</strong>
            - Can create N-dimensional vectors of type T 
            - Can and can be managed using fixed or dynamic memory management. 
            - Arithmetic and comparison operations can be performed between varying types and dimensions of vectors. (e.g. a vector4 multiplied by a vector2)</p>
            <p><strong>Other</strong>
            - Can create Quarternions of type T (Fixed as quarternions have a fixed number of components - x,y,w,z)
            - Contains basic structures for geometrical structures like rays, segments and lines.
            - Contains basic random number generation for a variety of arithmetic types.</p>
        </div>

        <hr>

        <div class="row">
            other stuff
        </div>

    </div>

</body>

</html>