.theme-dark {
    --color-font: #e8e6e3;

    --color-bg: #14191f;
    --color-sidebar-bg: #1c2229;
    --color-navbar-bg: #14191f;
    --color-navbar-border: #e8e6e3;

    --color-scrollbar-tr-bg: #1c2229;
    --color-scrollbar-th-bg: #888;
    --color-scrollbar-hover-bg: #555;
}

.theme-light {
    --color-font: #14191f;
    
    --color-bg: white;
    --color-sidebar-bg: #fdf9f4;
    --color-navbar-bg: white;
    --color-navbar-border: black;

    --color-scrollbar-tr-bg: #f3f0ec;
    --color-scrollbar-th-bg: #cfcdcb;
    --color-scrollbar-hover-bg: #bbb5ae;
}

.theme-dracula {
    --color-font: #f8f8f2;

    --color-bg: #282a36;
    --color-sidebar-bg: #44475a;
    --color-navbar-bg: #282a36;
    --color-navbar-border: #f8f8f2;

    --color-scrollbar-tr-bg: #44475a;
    --color-scrollbar-th-bg: #f8f8f2;
    --color-scrollbar-hover-bg: #555;
}